.inputs {
    width: 80%;
    border: solid black 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 10vh;
}

.heading{
    font-size: 25px;
}

.lists {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: solid black 1px;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}

.listheaders {
    width: 81.75%;
    margin: 0 auto;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    gap: 25%;
}

.lists h3 {
    text-align: center;
    border-bottom: solid black 1px;
}

.incomplete-items{
    width: 50%;
    overflow: scroll;
}

.completed-items {
    width: 50%;
    overflow: scroll;
}